/Boletin 6/boletin6_3/build/
/Boletin 7/boletin7_2/build/
/Boletin 11/boletin11_1/build/
/Boletin 12/boletin12_1/build/
/Boletin 12/boletin12_2/build/
/Boletin 12/boletin12_2/dist/
/boletin13/build/
/boletin13/nbproject/private/
/Boletin 8/boletin8_6/build/
/Boletin 8/boletin8_7/build/
/boletin17/build/
/boletin17/nbproject/private/
/boletin14/build/
/Boletin 13/boletin13/build/
/Boletin 13/boletin13/nbproject/private/
/Boletin 14/boletin14/build/
/Boletin 14/boletin14/nbproject/private/
/Boletin 15/boletin15/build/
/Boletin 15/boletin15/nbproject/private/
/Boletin 17/boletin17/build/
/Boletin 17/boletin17/nbproject/private/
/ejemploHerencia/build/
/ejemploHerencia/nbproject/private/
/3º Ev/BaseProgramacion/dist/
